body {
  background-color: #262626;
}
.modiaflatefs {
  min-height: 100%;
  color: #fff;
  text-align: center;
  margin-top: 10rem;
}
.modiaflatefs .navlogo {
  height: 90px;
  width: 324px;
}
.modiaflatefs .navlogo .navlogo__svg__hvit {
  fill: #fff;
}
.modiaflatefs .navlogo .navlogo__svg__svart {
  fill: #262626;
}
.modiaflatefs .tittel {
  font-size: 2rem;
}
.modiaflatefs .enheter-feiler {
  text-align: left;
  width: 100%;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}
.modiaflatefs .enhetsvelger__wrapper {
  position: relative;
  display: inline-block;
}
.modiaflatefs .enhetsvelger__wrapper:after {
  pointer-events: none;
  content: "";
  position: absolute;
  border-left: 1.5px solid #fff;
  border-top: 1.5px solid #fff;
  border-right: none;
  top: 10px;
  right: 11px;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
}
.modiaflatefs .enhetsvelger {
  min-width: 210px;
  padding: 0.5rem 1.7rem 0.5rem 1rem;
  border: 1px solid #7f756c;
  border-radius: 1px;
  background-color: #1d1d1d;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.modiaflatefs .enhetsvelger::-ms-expand {
  display: none;
}
.modiaflatefs .lenke {
  color: #fff;
}
.modiaflatefs .lenker {
  display: flex;
  justify-content: center;
  text-align: left;
}
.modiaflatefs .lenker__kolonne {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.modiaflatefs .lenker__celle:not(:first-child) {
  margin-top: 1.125rem;
}
